*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.lai
*.la
*.a
*.lib
*.ncb
*.plg
*.bsc
*.pch
*.orig
*.rej
*.bk
*.sc
*.sc3
*.fc
*.fc32
*.fc64
*.r
*.t
*.opt
*.sdf
*.suo
*.filters
*.user
*.opensdf
ipch/*
Debug/*
Release/*
